{% load static %}
/* Фоновые изображения с правильными путями */

body {
  background: 
    linear-gradient(rgba(15, 23, 42, 0.8), rgba(15, 23, 42, 0.8)),
    url('{% static "images/bg-mobile.jpg" %}') no-repeat center center;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    background-image: 
      linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.7)),
      url('{% static "images/bg-tablet.jpg" %}');
  }
}

@media (min-width: 1024px) {
  body {
    background-image: 
      linear-gradient(rgba(15, 23, 42, 0.6), rgba(15, 23, 42, 0.6)),
      url('{% static "images/bg-desktop.jpg" %}');
    background-attachment: fixed;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: 
      linear-gradient(rgba(15, 23, 42, 0.5), rgba(15, 23, 42, 0.5)),
      url('{% static "images/bg-4k.jpg" %}');
  }
}